<div th:fragment="addUserForm(newUser, formAction, allRoles)">
    <form th:action="${formAction}" method="post" id="addUserForm">
        <input type="hidden" name="id" th:value="${newUser.id}" />

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input id="name" name="name" type="text" class="form-control" th:value="${newUser.name}" required>
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input id="lastName" name="lastName" type="text" class="form-control" th:value="${newUser.lastName}" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" name="email" type="email" class="form-control" th:value="${newUser.email}" required>
        </div>

        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input id="age" name="age" type="number" class="form-control" th:value="${newUser.age}" required min="1">
        </div>

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input id="username" name="username" type="text" class="form-control" th:value="${newUser.username}" required minlength="5">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" name="password" type="password" class="form-control" th:value="${newUser.password}" required minlength="6">
        </div>

        <div class="mb-3">
            <label for="roles" class="form-label">Roles</label>
            <select multiple class="form-select" id="roles" name="roles" th:value="${newUser.roles}" required>
                <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
