<div th:fragment="editUserForm(user, formAction, allRoles)">
  <div class="modal-header">
    <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form th:action="${formAction}" method="post">
      <input type="hidden" name="id" th:value="${user.id}" />

      <div class="mb-3">
        <label for="id" class="form-label">Id</label>
        <input id="id" type="number" class="form-control" th:value="${user.id}" disabled>
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input id="name" name="name" type="text" class="form-control" th:value="${user.name}" required>
      </div>

      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input id="lastName" name="lastName" type="text" class="form-control" th:value="${user.lastName}" required>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" name="email" type="email" class="form-control" th:value="${user.email}" required>
      </div>

      <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input id="age" name="age" type="number" class="form-control" th:value="${user.age}" required>
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input id="username" name="username" type="text" class="form-control" th:value="${user.username}" readonly>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" name="password" type="password" class="form-control" th:value="${user.password}" readonly>
      </div>

      <div class="mb-3">
        <label for="roles" class="form-label">Roles</label>
        <select multiple class="form-select" id="roles" name="roles" th:value="${user.roles}" required>
          <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}"></option>
        </select>
      </div>

      <button type="submit" class="btn btn-success">Save Changes</button>
    </form>
  </div>
</div>
