<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="userFormFragment(user)">
    <h5 class="mb-3 mt-2" th:text="${user.id != null ? 'Edit User' : 'Add New User'}"></h5>
    <div class="p-3 border rounded bg-white">
        <form name="userForm"
              th:action="@{${user.id == null ? '/admin/add' : '/admin/update'}}"
              th:object="${user}"
              method="post"
              onsubmit="return validateForm()">

            <input type="hidden" th:field="*{id}"/>

            <div class="mb-3">
                <label class="form-label">Name:</label>
                <input class="form-control" type="text" th:field="*{name}" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Last Name:</label>
                <input class="form-control" type="text" th:field="*{lastName}" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Email:</label>
                <input class="form-control" type="email" th:field="*{email}" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Age:</label>
                <input class="form-control" type="number" th:field="*{age}" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" th:field="*{username}" required/>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="text" class="form-control" th:field="*{password}" required/>
            </div>

            <div class="mb-3">
                <label class="form-label">Roles:</label>
                <select class="form-select" multiple="multiple" th:field="*{roles}" name="roles" required>
                    <option th:each="role : ${allRoles}"
                            th:value="${role.id}" th:text="${role.name}">
                    </option>
                </select>
            </div>

            <button class="btn btn-success" type="submit">Save</button>
        </form>
    </div>
</div>
</body>
</html>
